<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles3.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>MERCADO LIEBRE</title>
</head>

<body>
    <header>
        <div class="al-lado2">
            <div class="al-lado">
                <img class="logo" src="/img/logo-mercado-liebre.svg" width="300px" height="90px" alt="logo"></img>
                <form action="" class="navbar">
                    <input type="text" placeholder="Buscar productos, marcas" class="formdelusuario">
                </form>
            </div>
            <div class="manoyfrase"><img class="manos" src="/img/handshake-solid.svg" alt="" height="25px"
                    width="25px">Comprá en cuotas y sin tarjeta de crédito</img></div>
        </div>


        <div class="uldelheader0">
            <ul type="none" class="ul1">
                <li> <a href="#">Ofertas</a> </li>
                <li> <a href="#">Tiendas oficiales</a> </li>
                <li> <a href="#">Vender</a> </li>
                <li> <a href="#">Ayuda</a> </li>
            </ul>
            <ul type="none" class="ul2">
                <li> <a href="/register">Creá tu cuenta</a> <img class="minimg" src="/img/id-card-solid.svg" alt=""
                        height="15px" width="15px"> </li>
                <li> <a href="/login">Ingresá</a> <img class="minimg" src="/img/right-to-bracket-solid.svg" alt=""
                        height="15px" width="15px"> </li>
                <li> <a href="#">Mis compras</a><img class="minimg" src="/img/bag-shopping-solid.svg" alt=""
                        height="15px" width="15px"></li>
            </ul>
        </div>
        <nav class="burger-menu">
            <i class="fas fa-bars"></i>
        </nav>

    </header>
    <img class="publicidad" src="/img/img-home-banner.jpg" alt="" width="100%">
    <main>
        <h2>Basado en tu última visita</h2>
        <div class="para4">
                <section>
            <div class="para2">
                <article b>
                    <img class="cafetera" src="/img/img-cafetera-moulinex.jpg" width="100%" height=""
                        alt="cafetera-moulinex"></img>
                    <div class="caja">
                        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
                        <div class="ponerjuntos">
                            <div class="precios">$6.770</div>
                            <div class="descuentos">40% OFF</div>
                            <b>
                        </div>

                        <div class="descripciones">Cafetera Moulinex</div>
                        </b>
                    </div>
                </article>
                <br>

                <article b>
                    <img class="compu" src="/img/img-macbook-pro-2019.jpg" width="100%" height="" alt="MacBook"></img>
                    <div class="caja">
                        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
                        <div class="ponerjuntos">
                            <div class="precios">$230.000</div>
                            <div class="descuentos">20% off</div>
                            <b>
                        </div>

                        <div class="descripciones">MacBook Pro 2019</div>
                        </b>
                    </div>
                </article>
            </div>
            <br>

            <div class="para2">
                <article>
                    <img class="celu" src="/img/img-samsung-galaxy-s10.jpg" width="100%" height="" alt="Galaxy"></img>
                    <div class="caja">
                        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
                        <div class="ponerjuntos">
                            <div class="precios">$70.500</div>
                            <div class="descuentos">10% off</div>
                            <b>
                        </div>

                        <div class="descripciones">Samsung Galaxy S10</div>
                        </b>
                    </div>
                </article>
                <br>
                <article b>
                    <img class="tele" src="/img/img-tv-samsung-smart.jpg" width="100%" height=""
                        alt="img-tv-samsung-smart"></img>
                    <div class="caja">
                        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
                        <div class="ponerjuntos">
                            <div class="precios">$23.200</div>
                            <div class="descuentos">5% off</div>
                            <b>
                        </div>

                        <div class="descripciones">SmartTv Samsung 43"</div>
                        </b>
                    </div>
                </article>
            </div>
            <br>

        </section>    
        </div>

        <h2>Ofertas</h2>

        <section>
            <div class="para2">
                <article>
                    <img class="cafetera" src="/img/img-cafetera-moulinex.jpg" width="100%" height=""
                        alt="cafetera-moulinex"></img>
                    <div class="caja">
                        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
                        <div class="ponerjuntos">
                            <div class="precios">$6.770</div>
                            <div class="descuentos">40% OFF</div>
                            <b>
                        </div>

                        <div class="descripciones">Cafetera Moulinex</div>
                        </b>
                    </div>
                </article>
                <br>

                <article b>
                    <img class="compu" src="/img/img-macbook-pro-2019.jpg" width="100%" height="" alt="MacBook"></img>
                    <div class="caja">
                        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
                        <div class="ponerjuntos">
                            <div class="precios">$230.000</div>
                            <div class="descuentos">20% off</div>
                            <b>
                        </div>

                        <div class="descripciones">MacBook Pro 2019</div>
                        </b>
                    </div>
                </article>
            </div>
            <br>

            <div class="para2">
                <article>
                    <img class="celu" src="/img/img-samsung-galaxy-s10.jpg" width="100%" height="" alt="Galaxy"></img>
                    <div class="caja">
                        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
                        <div class="ponerjuntos">
                            <div class="precios">$70.500</div>
                            <div class="descuentos">10% off</div>
                            <b>
                        </div>

                        <div class="descripciones">Samsung Galaxy S10</div>
                        </b>
                    </div>
                </article>
                <br>
                <article b>
                    <img class="tele" src="/img/img-tv-samsung-smart.jpg" width="100%" height=""
                        alt="img-tv-samsung-smart"></img>
                    <div class="caja">
                        <img class="camion" src="/img/truck-solid.svg" alt="" height="25px" width="25px">
                        <div class="ponerjuntos">
                            <div class="precios">$23.200</div>
                            <div class="descuentos">5% off</div>
                            <b>
                        </div>

                        <div class="descripciones">SmartTv Samsung 43"</div>
                        </b>
                    </div>
                </article>
            </div>
            <br>

        </section>
    </main>

    <footer>
        <div class="todoelfooter">
            <div class="footer1">
                <i class="fas fa-credit-card icono" style="color: #1259c3;"></i>
                <strong>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                </strong>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>


            <div class="footer1">
                <i class="fas fa-gift icono" style="color:  #1259c3;"></i>
                <strong>
                    <h3>Envío gratis desde $ 2.500</h3>
                </strong>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="footer1">
                <i class="fas fa-user-shield icono" style="color: #1259c3;"></i>
                <strong>
                    <h3>Seguridad, de principio a fin<h3>
                </strong>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>



        <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
    </footer>

</body>

</html>