<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Register</title>
</head>
<body>
    <header>
        <div class="al-lado2">

            <div class="al-lado">
                <img class="logo" src="/img/logo-mercado-liebre.svg" width="300px" height="90px"  alt="logo"></img>
                <form action="" class="navbar">
                    <input type="text" placeholder="Buscar productos, marcas" class="formdelusuario">
                </form>            
            </div>
            
                <div class="manoyfrase"><img class="minimg" src="/img/handshake-solid.svg" alt="" height="25px" width="25px">Comprá en cuotas y sin tarjeta de crédito</img></div>
            
            </div>
    </header>

    <section>
    <nav class="formularios">
        <form action="Registro">
            <div>
            <label for="Nombre y apellido">Nombre y apellido</label>
            <input type="text" name="Nombre y apellido" required>    
            </div>
            <div>
            <label for="Nombre de usuario">Nombre de usuario</label>
            <input type="text" name="Nombre de usuario" required>    
            </div>
            <div>
            <label for="Fecha de nacimiento">Fecha de nacimiento</label>
            <input type="date" name="Fecha de nacimiento" required>    
            </div>
            <div>
            <label for="Domicilio">Domicilio</label>
            <input type="text" name="Domicilio" required>    
            </div>
            <div>
            <label name="Seleccionar" required>Seleccionar:  </select>
            <input type="radio">Comprar</input>
            <input type="radio">Vender</input>
            <div>
            <label for="Categorías de interés">Categorías de interés (Puede elegir más de una)</label>
            </div>
            <div>
            <input type="checkbox">Electro</input>    
            </div>
            <div>
            <input type="checkbox">Moda</input>
            </div>
            <div>
            <input type="checkbox">Hogar</input>
            </div>
            <div>
            <input type="checkbox">Juguetería</input>            
            </div>
            <div>
            <input type="checkbox">Vida sana</input>
            </div>
            <div>
            <label for="Foto de usuario">Foto de usuario</label>    
            <input type="file" name="avatar" accept=".jpg">                
            </div>
            <div>
            <label for="Contraseña" required>Contraseña</label>
            <input type="password"></input>    
            </div>
            <div>
            <label for="Confirmar contraseña" required>Confirmar contraseña</label>
            <input type="password"></input>    
            </div>
            <button type="submit"><a href="/">Enviar</a></button>
            <button type="reset">Eliminar todos los datos</button>
            </form>
    </div>        
</section>
<footer>
    <div class="todoelfooter">
        <div class="footer1">
            <i class="fas fa-credit-card icono" style="color: #1259c3;"></i>
            <strong>
                <h3>Pagá con tarjeta o en efectivo</h3>
            </strong>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>


        <div class="footer1">
            <i class="fas fa-gift icono" style="color:  #1259c3;"></i>
            <strong>
                <h3>Envío gratis desde $ 2.500</h3>
            </strong>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="footer1">
            <i class="fas fa-user-shield icono" style="color: #1259c3;"></i>
            <strong>
                <h3>Seguridad, de principio a fin<h3>
            </strong>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
    </div>



    <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
</footer>
</body>
</html>