<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>register</title>
</head>
<body>
    <header>
        <div class="al-lado2">

            <div class="al-lado">
                <img class="logo" src="/img/logo-mercado-liebre.svg" width="300px" height="90px"  alt="logo"></img>
                <form action="" class="navbar">
                    <input type="text" placeholder="Buscar productos, marcas" class="formdelusuario">
                </form>            
            </div>
            
                <div class="manoyfrase"><img class="minimg" src="/img/handshake-solid.svg" alt="" height="25px" width="25px">Comprá en cuotas y sin tarjeta de crédito</img></div>
            
            </div>
    </header>

    <section>
    <nav class="formularios">
        <form action="Registro">
            <div>
            <label for="Nombre y apellido">Nombre y apellido</label>
            <input type="text" name="Nombre y apellido" required>    
            </div>
            <div>
            <label for="Nombre de usuario">Nombre de usuario</label>
            <input type="text" name="Nombre de usuario" required>    
            </div>
            <div>
            <label for="Fecha de nacimiento">Fecha de nacimiento</label>
            <input type="date" name="Fecha de nacimiento" required>    
            </div>
            <div>
            <label for="Domicilio">Domicilio</label>
            <input type="text" name="Domicilio" required>    
            </div>
            <div>
            <label name="Seleccionar" required>Seleccionar:  </select>
            <input type="radio">Comprar</input>
            <input type="radio">Vender</input>
            <div>
            <label for="Categorías de interés">Categorías de interés (Puede elegir más de una)</label>
            </div>
            <div>
            <input type="checkbox">Electro</input>    
            </div>
            <div>
            <input type="checkbox">Moda</input>
            </div>
            <div>
            <input type="checkbox">Hogar</input>
            </div>
            <div>
            <input type="checkbox">Juguetería</input>            
            </div>
            <div>
            <input type="checkbox">Vida sana</input>
            </div>
            <div>
            <label for="Foto de usuario">Foto de usuario</label>    
            <input type="file" name="avatar" accept=".jpg">                
            </div>
            <div>
            <label for="Contraseña" required>Contraseña</label>
            <input type="password"></input>    
            </div>
            <div>
            <label for="Confirmar contraseña" required>Confirmar contraseña</label>
            <input type="password"></input>    
            </div>
            <button type="submit">Enviar</button>
            <button type="reset">Eliminar todos los datos</button>
            </form>
    </div>        
</section>

</body>
</html>