*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
    width: 100%;
    padding-bottom: 20px;
}


.logo{
    width: 50%;
    margin-right: 30px;
}

.navbar{
    color:#ebebeb;
    margin-top: 30px;
    width: 50%;
}

.al-lado{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.manoyfrase{
    margin:20px;
}

.ul1, .ul2{
    display: flex;
}

.ul1 li, .ul2 li{
    margin-left: 10px;
    margin-right: 10px;
}

.uldelheader0{
    display: flex;
    justify-content: space-around;
}

.minimg{
    width: 20px;
    margin: 0px 5px -6px 5px;
}

.burger-menu{
    display: flex;
    justify-content: center;
    margin: 15px;
    background-color: #03264C;
    color: white;
    padding: 5px;
    align-self: auto;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

}

main{
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    margin-bottom: 15px;
}

.caja{
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding: 15px;
    padding-bottom: 0px;
}

.caja{
    position:relative;
    margin-bottom: 30px;
}

.camion{
    position:absolute;
    bottom: 40px;
    right: 30px;    
}

.camion:hover {
    animation: rotate 1.5s 1
}

h1{
    font-size: 24px;
}

h2{
    margin: 10px;
}

p{
    font-size: 12px;
}

.precios{
    font-size: 18px;
    width: 30%;
}

.descuentos{
    font-size: 16px;
    color: #39b54a;
    width: 70%;
}

article{
    margin-bottom: 10px;
}

article b{
    opacity:0%
}

.descripciones b{
    opacity:0%;

}

.descripciones:hover b{
    font-size: 16px;
    color: #666;
    animation:opacidad 3s infinite
}

.ponerjuntos{
    display: flex;
}

article:hover b{
    opacity:100%;
    animation-duration: 4s;
}

.todoelfooter{
    display: flex;
    justify-content: space-around;
}

.footer1{
    text-align: center;
}

.icono{
    font-size: 2em;
}

.icono:hover{
    animation:color 1s 1;
    font-size: 60px;
}

p{
    margin-top: 2px;
    margin-bottom: 15px;
}

@keyframes color{
    0%{color:#1259c3}
    100%{color:#EAC926}
}

@keyframes opacidad{
    0%{opacity:0%}
    100%{opacity:100%}
}

@keyframes rotate{
    0%{
        transform:rotate(0)
    }
    50%{
        transform:rotate(-90deg)
    }
    100%{
        transform: rotate(0)
    }
}

@media(max-width:360px){
    .minimg{
        display:none
    }
    .ul1, .ul2{
        flex-direction: column;
    }
    .navbar{
        margin-top: -10px;
    }
}

@media (min-width:361px){
    .burger-menu{
        display:none;
    }        
    .logo{
            width: 190px;
            margin-left: 15px;
    }
    article{
        width: 40%;
        padding-bottom: 0px;
    }
    article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition-duration: 1.5s;
    }

    .para2{
        display: flex;
        justify-content: space-between;
        text-align: center;
        }
        .navbar{
            margin-top: -10px;
        }
}

@media(max-width:414){
    .navbar{
        width: 200px;
    }
    .al-lado2{
        display: flex;
        justify-content: space-around;

    }
}

@media (max-width:530px){
    .ul1, .ul2{
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (min-width=769px){
    article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }    
    section{
        display: flex;
        justify-content: space-around
    }
    .navbar{
        text-align: center;
    }
    article{
        width: 170px;
        height: 200px
    }
    .para4{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}