*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
    width: 100%;
    padding-bottom: 20px;
}


.logo{
    width: 150px;
    height: 80px;
    
}

.navbar{
    color:#ebebeb;
}

.formdelusuario{
    padding: 10px;
    
}

.fa-search{
    position: relative;
    top:0px;
    right:10px
}

.al-lado{
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

article{
    margin-left: 5px;
    margin-right: 5px;

}

.manoyfrase{
    margin-top: -10px;
}

.manos{
    position: relative;
    top:8px;
    right: 5px;
}

.ul1, .ul2{
    display: flex;
}

.ul1 li, .ul2 li{
    margin-left: 10px;
    margin-right: 10px;
}

.uldelheader0{
    display: flex;
    justify-content: space-around;
}

.minimg{
    width: 20px;
    margin: 0px 5px -6px 5px;
}

.burger-menu{
    display: none;
    justify-content: center;
    margin: 15px;
    background-color: #03264C;
    color: white;
    padding: 5px;
    align-self: auto;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

}

main{
    align-items: center;
    width: 90%;
    margin-bottom: 15px;
}

.artículo{
    margin-bottom: 10px;

}

.para4{
    display: flex;
    justify-content: space-around;
    flex-direction: 0;
}

.caja{
    border-top: 1px solid #ebebeb;
    background-color: white;
    padding: 15px;
    padding-bottom: 0px;
}

.caja{
    position:relative;
    margin-bottom: 30px;
}

.camion{
    position:absolute;
    bottom: 40px;
    right: 30px;    
}

.camion:hover {
    animation: rotate 1.5s 1
}

h1{
    font-size: 24px;
}

h2{
    margin: 10px;
}

p{
    font-size: 12px;
}

.precios{
    font-size: 18px;
    width: 30%;
}

.descuentos{
    font-size: 16px;
    color: #39b54a;
    margin-top: 2px;
}

.Img-Produpto{
    width: 250px;
    height: 250px;
}

.artículo:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition-duration: 1.5s;
}

.artículo b{
    opacity:0%
}

.descripciones b{
    opacity:0%;

}

.descripciones:hover b{
    font-size: 16px;
    color: #666;
    animation:opacidad 3s infinite
}

.ponerjuntos{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.artículo:hover b{
    opacity:100%;
    animation-duration: 4s;
}

.todoelfooter{
    display: flex;
    justify-content: space-around;
}

.footer1{
    text-align: center;
}

.icono{
    font-size: 2em;
}

.icono:hover{
    animation:color 1s 1;
    font-size: 60px;
}

p{
    margin-top: 2px;
    margin-bottom: 15px;
}

@keyframes color{
    0%{color:#1259c3}
    100%{color:#EAC926}
}

@keyframes opacidad{
    0%{opacity:0%}
    100%{opacity:100%}
}

@keyframes rotate{
    0%{
        transform:rotate(0)
    }
    50%{
        transform:rotate(-90deg)
    }
    100%{
        transform: rotate(0)
    }
}





@media (max-width:769px){
    .para4{
    flex-direction: column;
    }
    .Img-Produpto{
        width: 400px;
        height: 450px;
    }
    .artículo{
        text-align: center;
        align-items: center;        
    }
    .ponerjuntos{
        display: flex;
        justify-content: center;
        gap: 0px;
    }
    .camion{
        right: 150px;    
        width: 50px;
        height: 50px;
    }
}



@media(max-width:460px){
    .navbar{
        width: 200px;
        margin-top: 0px;
        margin-bottom: 25px;
    }
    .logo{
        width:50%;
        justify-content: center;
    }
    .uldelheader0{
        display: none;
    }
    .al-lado{
        display: flex;
        flex-direction: column;
    }
    .fa-search{
        position: relative;
        top: 30px;
        right: 35px;
    }
    .Img-Produpto {
        width: 250px;
        height: 300px;
    }
    .camion{
        width: 30px;
        height: 30px;
        position: relative;
        right:-125px;
        bottom:30px
    }
    .burger-menu{
        display: flex;
    }
}





